*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "HelveticaNeue-Bold-ttf";
    src: url("assets/fonts/HelveticaNeue-Bold.ttf");
}

@media (width <=2560px) {
    
    body {
        overflow-x: hidden;
    }
    
    nav {
        height: 50px;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    nav li {
        padding: 0 20px;
    }
    
    nav a {
        color: #000000;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        font-size: 15px;
    }

    nav li:first-child {
        margin-right: auto;
    }
        
    nav li:last-child {
        margin-left: auto;
    }

    .box {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 300px;
    }
                
    h2 {
        margin-top: 0;
    }
                
    h3 {
        margin-top: 20px;
    }
                
     select {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
                
    .checkbox-group {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        font-size: 12px;
        accent-color: green;
    }
                
    .checkbox-group label {
        margin-right: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
                
    .checkbox-group input[type="checkbox"] {
        margin-right: 10px;
    }

    .box {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 270px;
        transform: translate(25px, 15px);
    }
    
    .container {
            position: relative;
            margin-top: -568px;
            text-align: center;
            margin-left: 215px !important;
        }
    
    .image {
        max-width: 100%;
        max-height: auto;
        width: 780px;
        min-width: 75%;
        height: 583px;
    }
    
    .content {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .title {
        font-size: 4vw;
        white-space: nowrap;
        color: #000000;
    }
    
    .text {
        font-size: 2vw;
        white-space: nowrap;
        color: #000000;
        margin-top: 10px;
    }
    
    .search-bar {
       
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
    }
    
    .search-bar input[type="text"] {
        padding: 10px;
        width: 200px;
    }
    
       
        
        

}    












 /*display: inline-block;
        margin-top: 10px;*/


 /*.search-bar button {
            background-color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
    
        .fa-search {
            color: #333;
        }*/













    /*.logo-1 {
        position: fixed;
            top: 6.5%;
            left: 5%;
            transform: translateY(-50%);
    }

    .Location {
        left: 7%;
        top: 3%;
        position: absolute;
    }

    .kb {
        position: fixed;
        width: 250px;
        height: 600px;
        left: 5%;
        top: 15%;
        background: #f4f4f4;
        box-shadow: 0px 1px 8px rgba(47, 46, 46, 0.31);
        border-radius: 24px;
        white-space: nowrap;
    }
 
    .dropdown {
        position: fixed;
        top: 8%;
        left: 6%;
    }

    .Property {
        margin-top: 15%;
        left: -80%;
        position: relative;
    }

    .Price-range {
        left: 15%;
        position: relative;   
    }

    .box {
        white-space: nowrap;
        margin-top: -18%;
        margin-left: -16%;
    }

    /*.search-2 {
       display: grid;
       place-items: center;
       margin-top: -93% !important;
       margin-left: 220% !important;
    }*/

    /*.search-2 {
        display: flex;
        position: relative;
    }
    
    .building {
       max-width: 100%;
       margin-left: 200%;
       width: 500%;
       margin-top: -200%;
       position: absolute;
        max-width: 1183%;
            width: 233%;
            max-height: 600%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.47) 100%), url(.jpg);
            border-radius: 24px;
            
    }

    .find {
        margin-top: -85%;
        left: 128%;
        position:relative;
        white-space: nowrap;
    }
    
    .buy {
        margin-top: 5%;
        left: 165%;
        position: absolute;
        white-space: nowrap;
    }

    .form button {
            border: none;
            background: none;
            color: #8b8ba7;
        }
    
        styling of whole input container
        .form {
            --timing: 0.3s;
            --width-of-input: 200px;
            --height-of-input: 40px;
            --border-height: 2px;
            --input-bg: #fff;
            --border-color: #2f2ee9;
            --border-radius: 30px;
            --after-border-radius: 1px;
            position: relative;
            width: var(--width-of-input);
            height: var(--height-of-input);
            display: flex;
            align-items: center;
            padding-inline: 0.8em;
            border-radius: var(--border-radius);
            transition: border-radius 0.5s ease;
            background: var(--input-bg, #fff);
        }
    
        /* styling of Input *
        .input {
            font-size: 0.9rem;
            background-color: transparent;
            width: 100%;
            height: 100%;
            padding-inline: 0.5em;
            padding-block: 0.7em;
            border: none;
        }
    
        /* styling of animated border *
        .form:before {
            content: "";
            position: absolute;
            background: var(--border-color);
            transform: scaleX(0);
            transform-origin: center;
            width: 100%;
            height: var(--border-height);
            left: 0;
            bottom: 0;
            border-radius: 1px;
            transition: transform var(--timing) ease;
        }
    
        /* Hover on Input *
        .form:focus-within {
            border-radius: var(--after-border-radius);
        }
    
        input:focus {
            outline: none;
        }
    
        /* here is code of animated border *
        .form:focus-within:before {
            transform: scale(1);
        }
    
        /* styling of close button */
        /* == you can click the close button to remove text == *
        .reset {
            border: none;
            background: none;
            opacity: 0;
            visibility: hidden;
        }
    
        /* close button shown when typing *
        input:not(:placeholder-shown)~.reset {
            opacity: 1;
            visibility: visible;
        }
    
        /* sizing svg icons *
        .form svg {
            width: 17px;
            margin-top: 3px;
        }
        
        .input-wrapper {
            display: none;
        }

}




@media (width <=1024px) {
    
        .nav-item {
            display: none;
        }
    
        .navbar-toggler {
            display: none;
        }

        

                .input-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    position: relative;
                }
        
                .input {
                    border-style: none;
                    height: 50px;
                    width: 50px;
                    padding: 10px;
                    outline: none;
                    border-radius: 50%;
                    transition: .5s ease-in-out;
                    background-color: #d4d4d4;
                    box-shadow: 0px 0px 3px #000000;
                    padding-right: 40px;
                    color: #ffffff;
                }
        
                .input::placeholder,
                .input {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 17px;
                }
        
                .input::placeholder {
                    color: #000000;
                }
        
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    outline: none;
                    border-style: none;
                    border-radius: 50%;
                    pointer-events: painted;
                    background-color: transparent;
                    transition: .2s linear;
                }
        
                .icon:focus~.input,
                .input:focus {
                    box-shadow: none;
                    width: 150px;
                    border-radius: 0px;
                    background-color: transparent;
                    border-bottom: 3px solid #000000;
                    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
                }
    
                                .search-2 {
                                    display: grid;
                                    place-items: center;
                                    margin-top: -93% !important;
                                    margin-left: 10% !important;
                                }
                
                                .building {
                                    position: absolute;
                                    max-width: 1183%;
                                    width: 105%;
                                    max-height: 600%;
                                    height: 100%;
                                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.47) 100%), url(.jpg);
                                    border-radius: 24px;
                                }
                
                                .find {
                                    margin-top: -85%;
                                    left: 128%;
                                    position: relative;
                                    white-space: nowrap;
                                }
                
                                .buy {
                                    margin-top: 5%;
                                    left: 165%;
                                    position: absolute;
                                    white-space: nowrap;
                                }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*.non-mobile {
       display:none !important;
    } 
    .mobile {
        display: contents !important;
    }

    .navbar-nav.me-auto.mb-2.mb-lg-0 {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .Location {
        display: none;
    }

    .dropdown {
        display: none;
    }

        .Property {
            display: none;
        }
    
        .Price-range {
            display: none;
        }

        .search-2 {
            display: none;
        }
    
        .building {
            display: none;
        }
    
        .find {
            display: none;
        }
    
        .buy {
            display: none;
        }
    
        .box {
            display: none;
        }
        
        .kb {
            display: none;
        }*/






}